<section id="document">
    <section class="container">
        <h4 class="text-center mt-4">CheckList Windows 10 SAC ENTERPRISE.</h4>
        <hr>
        <div class="row">
            <div class="col-lg-4 p-0">
                <label class="text-center border d-block bg-primary text-white "><Strong>Fecha</Strong></label>
                <p class="mb-1 text-center d-block"><%=check.fecha %></p>
            </div>
            <div class="col-lg-4 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Numero de Servicio</Strong></label>
                <p id="numeroServicio" class="mb-1 text-center d-block"><%=check.numeroServicio%></p>
            </div>
            <div class="col-lg-4 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Tipo de Servicio</Strong></label>
                <p class="mb-1 text-center d-block"><%=check.tipoServicio%></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Cedula del Tecnico</Strong></label>
                <p class="mb-1 text-center d-block"><%=tecnico.dataValues.cedula%></p>
            </div>
            <div class="col-lg-6 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Nombre del Tecnico</Strong></label>
                <p class="mb-1 text-center d-block"><%=`${tecnico.dataValues.nombre} ${tecnico.dataValues.apellido}`%></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Cedula de Usuario</Strong></label>
                <p class="mb-1 text-center d-block"><%=usuario.cedula%></p>
            </div>
            <div class="col-lg-4 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Usuario de Usuario</Strong></label>
                <p class="mb-1 text-center d-block"><%=`${usuario.dataValues.nombres} ${usuario.dataValues.apellidos}`%></p>
            </div>
            <div class="col-lg-4 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Correo de Usuario:</Strong></label>
                <p class="mb-1 text-center d-block"><%=usuario.dataValues.correo%></p>
            </div>
            <div class="col-lg-2 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Extencion de Usuario</Strong></label>
                <p class="mb-1 text-center d-block"><%=usuario.dataValues.extencion%></p>
            </div>
        </div>
        <h4 class="text-center m-2">Revisión Detallada.</h4>
        <hr>
        <p><strong>Formateo: </strong><%=check.formateo %>   <strong>Cambio de equipo:</strong> <%=check.cambioEquipo %></p>
        <div class="row">
            <div class="col-lg-3 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Serial Equipo Actual</Strong></label>
                <p class="mb-1 text-center d-block"><%=equipo.serial%></p>
            </div>
            <div class="col-lg-3 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Modelo</Strong></label>
                <p class="mb-1 text-center d-block"><%=equipo.marca %>  <%=equipo.modelo%></p>
            </div>
            <div class="col-lg-3 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>Placa</Strong></label>
                <p class="mb-1 text-center d-block"><%=equipo.placa%></p>
            </div>
            <div class="col-lg-3 p-0">
                <label class="text-center d-block border bg-primary text-white"><Strong>spare</Strong></label>
                <p class="mb-1 text-center d-block"><%=equipo.spare%></p>
            </div>
        </div>
        <% if(equipoRetira) {%> 
            <div class="row">
                <div class="col-lg-3 p-0">
                    <label class="text-center d-block border bg-primary text-white"><Strong>Serial Equipo Retira</Strong></label>
                    <p class="mb-1 text-center d-block"><%=equipoRetira.serial%></p>
                </div>
                <div class="col-lg-3 p-0">
                    <label class="text-center d-block border bg-primary text-white"><Strong>Modelo</Strong></label>
                    <p class="mb-1 text-center d-block"><%=equipoRetira.marca %>  <%=equipo.modelo%></p>
                </div>
                <div class="col-lg-3 p-0">
                    <label class="text-center d-block border bg-primary text-white"><Strong>Placa</Strong></label>
                    <p class="mb-1 text-center d-block"><%=equipoRetira.placa%></p>
                </div>
                <div class="col-lg-3 p-0">
                    <label class="text-center d-block border bg-primary text-white"><Strong>spare</Strong></label>
                    <p class="mb-1 text-center d-block"><%=equipoRetira.spare%></p>
                </div>
            </div>
        <% } %> 
        <h4 class="text-center m-2">configuraciones aplicadas al equipo</h4>
        <p>
            <ul>
                <% if(resultado){ %>
                    <% resultado.forEach( e => { %>
                        <li><%=e %></li>
                    <% }) %> 
                <% } %> 
            </ul>
        </p>
        <hr>
        <div class="m-5 d-flex justify-content-center">
            <div class="col-lg-3 mt-5 mr-5 p-0 ">
                <span class="d-block" style="border-bottom: 1px solid black;"></span>
                <p class="text-center"><%=`${tecnico.dataValues.nombre} ${tecnico.dataValues.apellido}`%></p>
            </div>
            <div class="col-lg-3 mt-5 ml-5 p-0 ">
                <span class="d-block" style="border-bottom: 1px solid black;"></span>
                <p class="text-center"><%=`${usuario.dataValues.nombres} ${usuario.dataValues.apellidos}`%></p>
            </div>
        </div>
       
    </section>
    <div class="container m-auto text-center">
        <a id="createPdf" class="btn btn-info mt-2" style="margin: auto; width: 20%;">Crear</a>
    </div>
    
    <script src="/js/html2pdf.bundle.min.js"></script>
    <script src="/js/pdfCreate.js"></script>
    
    
</section>